<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roger Roger</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "styles/index.css" %}"></link>
    <link rel="icon" type="image/x-icon" href="{% static "assets/b1droid2.ico" %}">
</head>
<body>
    <header id="header"><h1>header</h1></header>
        
    <main id="main">               
        <div id="app"><h1>main</h1></div>
    </main>
    
    <footer id="footer"><p>footer</p></footer>
    <script src="{% static "scripts/main.js" %}"></script>
</body>
</html>